#!/bin/sh

SH=/bin/sh

echo "Install on {{ .chezmoi.os }}"

{{ if eq .chezmoi.os "darwin" -}}
function install() {
    # Install brew, because we will install everything through that command.
    if ! has_cmd "brew"; then
        echo "Install brew"
        $SH -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi

    CMDS[0]="tmux"
    CMDS[1]="nvim"
    CMDS[2]="chezmoi"
    CMDS[3]="exa"
    CMDS[4]="bat"
    CMDS[5]="kubectl"
    CMDS[6]="go"
    CMDS[7]="htop"
    CMDS[8]="fzf"
    CMDS[9]="lua"
    CMDS[10]="git-delta"
    CMDS[11]="ripgrep"

    for x in ${CMDS[@]}; do
        brew_install "$x"
    done

    if [[ ! -d "/Applications/Alacritty.app" ]]; then
        echo "Install alacritty with brew"
        brew install alacritty
    else
        echo "alacritty is already installed"
    fi
}

brew_install() {
    local CMD="$1"

    if ! has_cmd $CMD; then
        echo "Install $CMD with brew"
        brew install $CMD
    else
        echo "$CMD is already installed"
    fi
}
{{ end -}}

has_cmd() {
    [ -x "$(command -v $1)" ] && return
    false
}

install

